/* import Ubuntu font */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Ubuntu", sans-serif;
  background-image: url("https://s8.uupload.ir/files/bg_fp0o.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @apply text-yellow-500 bg-slate-800;
}
