<header class="flex flex-col mx-auto mb-8 max-w-xs">
  <div
    class="flex justify-between items-center shadow-sm py-2 border-b border-slate-300"
  >
    <span class="text-orange-300 text-lg">Zed Link Shortener</span>
  </div>
  <nav class="flex gap-3 text-slate-600">
    <a class="hover:text-slate-800" href="/">Home</a>
  </nav>
</header>
